@import "/src/Shared/variables.module.scss";

.podcast {
  @function setBg($baseColor) {
    @return linear-gradient(180deg, $baseColor 0%, rgb(229, 229, 229) 100%);
  }
  @apply bg-[#f9f9f9] h-screen;
  .cover {
    background: setBg(rgba(77, 77, 77, 1));

    .data {
      @apply flex items-end gap-4 pt-[5.625rem] pb-[2rem] pl-[1.5rem];

      .image_container {
        @apply max-h-[230px] aspect-square rounded-2xl overflow-hidden;

        box-shadow: 0px 0px 31px 16px rgba(0, 0, 0, 0.1);
      }

      .text_container {
        @apply text-[#ffffff];
        p {
          @apply tracking-[1px] text-[0.85rem] mb-[15px];
        }
        h2 {
          @apply text-[6rem] font-bold tracking-tight leading-none m-0 mb-[40px];
        }

        .publisher {
          @apply text-[1.25rem] font-bold tracking-tight leading-none;
        }
      }

      @media (max-width: 1024px) {
        @apply pt-[4rem];
        .text_container {
          h2 {
            @apply text-[4rem];
          }
        }
      }
      @media (max-width: 768px) {
        @apply pt-[3rem] flex-col w-screen pl-0 max-w-[90%] mx-auto;
        .image_container {
          @apply self-center;
        }
        .text_container {
          @apply text-center self-center;
          h2 {
            @apply text-[2rem] mb-1;
          }
        }
      }
    }
  }

  .episodes {
    @apply flex flex-col gap-2 ml-[1.5rem]  mt-[1.5rem] h-full overflow-auto;

    .tableHeader {
      display: grid;
      grid-template-columns: 1fr 15ch 15ch 40px;
      align-items: center;
      gap: 1rem;
      @apply uppercase font-medium text-[#808080] mr-[1.5rem] mb-3 border-b-[1px] border-[#000];

      p {
        @apply text-[0.85rem];
      }
    }

    @media (max-width: 768px) {
      .tableHeader {
        grid-template-columns: 1fr;
        p {
          display: none;
          &:first-of-type {
            display: block;
          }
        }
      }
    }
  }
}
