.tableItem {
  display: grid;
  grid-template-columns: auto 1fr 15ch 15ch auto;
  align-items: center;
  gap: 1rem;
  .image_container {
    @apply max-w-[40px] aspect-square;
  }
  .title {
    @apply text-black font-semibold;
  }
  p {
    @apply text-[#808080];
  }
  .play {
    @apply w-[40px] aspect-square rounded-md border-[1px] border-[#ddd]  mr-[1.5rem] flex items-center justify-center duration-500 cursor-pointer;

    &:hover {
      background-color: #04d361;
      svg {
        path {
          fill: #ffffff;
          transition: all 0.5s;
        }
      }
    }
  }
}
