.play {
  @apply w-[40px] aspect-square rounded-md border-[1px] border-[#ddd]   flex items-center justify-center duration-500 cursor-pointer;

  &:hover {
    background-color: #04d361;
    border: none;
    svg {
      path {
        fill: #ffffff;
        transition: all 0.5s;
      }
    }
  }

  @media (max-width: 768px) {
    .play {
      display: none;
    }
  }
}
