.search_container {
  @apply absolute w-screen h-screen z-10 flex items-center justify-center;

  animation: 0.4s shadowing ease forwards;

  .search {
    @apply w-1/2 h-1/2 bg-[#ffffff] block rounded-2xl overflow-hidden overflow-y-auto;

    // Hide the scrollbar
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    animation: 0.4s modal ease forwards;

    .input {
      @apply w-full border-b-[1px] border-[#dddddd] p-4 flex items-center gap-2;

      .lupa {
        @apply max-h-4 cursor-pointer;
      }
      .icon {
        @apply max-h-6 cursor-pointer;
      }
      input {
        @apply bg-transparent outline-none border-none w-full font-roboto leading-none tracking-[1px];
      }
    }
    @media (max-width: 1024px) {
      @apply w-8/12;
    }
    @media (max-width: 748px) {
      @apply w-full h-5/6 self-end rounded-none;
    }

    .results {
      @apply py-4 flex flex-col;
      .loading {
        @apply flex items-start gap-4 py-2 px-4 border-t-[1px] border-[#dddddd] first-of-type:border-none first-of-type:py-0;

        span {
          @apply w-[60px] aspect-square bg-gray-400 block;
        }

        .text_container {
          @apply w-full flex flex-col gap-2;
          h2 {
            @apply w-4/12 h-4 bg-gray-400 block;
          }

          p {
            @apply w-1/12 h-3 bg-gray-400;
          }
        }
      }
    }
  }

  .loading_animation {
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      #ededed;

    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
  }

  @keyframes loading {
    to {
      background-position-x: -20%;
    }
  }

  @keyframes shadowing {
    from {
      background: transparent;
    }
    to {
      background-color: #5a5a5a99;
    }
  }

  @keyframes modal {
    from {
      transform: translateY(-50vh);
    }
    to {
      transform: translateY(0);
    }
  }
}
