@import "/src/Shared/variables.module.scss";

.player {
  @apply h-full w-full bg-[#8257E5] px-[15%] pt-[3rem] pb-[4rem] flex flex-col justify-between items-center;

  .close {
    @apply hidden;
  }

  h2 {
    @apply text-white font-bold tracking-[1px];
  }

  .podcast_info {
    @apply w-full;
    .image_container {
      @apply w-full aspect-square bg-[#9F75FF] flex items-center justify-center text-center text-white font-bold rounded-3xl border-dashed border-[#e6e6e666] border-[2px] tracking-[1px] relative overflow-hidden;

      /* img {
        @apply w-full h-full absolute z-10 top-0 left-0;
      } */
    }

    .title {
      @apply text-[1.25rem] font-semibold text-center mt-4;
    }
  }

  .bottom {
    @apply w-full flex flex-col gap-10;
    .progress {
      @apply flex items-center gap-3 w-full;

      p {
        @apply text-white opacity-50;
      }

      .bar {
        @apply w-full h-1 block bg-[#9F75FF] cursor-pointer;
      }
    }

    .controls {
      @apply flex items-center justify-center w-full;

      .controls_icon {
        @apply opacity-50 cursor-pointer duration-300;

        &:hover {
          @apply opacity-70;
        }
      }

      .play {
        @apply opacity-50 cursor-pointer duration-300 p-2 bg-[#9F75FF] rounded-2xl flex items-center justify-center w-[42px] aspect-square;

        &:hover {
          @apply opacity-70;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    @apply absolute z-50 h-screen min-h-[480px] bottom-0;

    .bottom {
      @apply gap-4;
    }
    animation: 0.5s openPlayer ease-in-out forwards;

    .close {
      @apply absolute right-0 top-0 px-3 py-2 block;

      svg {
        @apply min-w-[20px] fill-[#fff];
      }
    }

    &.preview {
      @apply h-[40px] w-screen min-h-0 flex-row py-8 px-4;
      animation: none;

      .close {
        @apply hidden;
      }

      h2 {
        @apply hidden;
      }

      .podcast_info {
        @apply flex items-center flex-1 gap-4;
        .image_container {
          @apply w-10 rounded-md border-[#e6e6e6b9];

          p {
            @apply hidden;
          }
        }
        h2 {
          @apply block  m-0 max-w-[50ch];
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .bottom {
        @apply w-auto;
        .progress {
          @apply hidden;
        }
        .controls {
          @apply w-auto;
          .controls_icon {
            @apply hidden;
          }
        }
      }
    }

    @keyframes openPlayer {
      from {
        transform: translateY($initialPlayerPosition);
      }
      to {
        transform: initial;
      }
    }
  }

  @media (max-width: 768px) {
    @apply py-8;

    &.preview {
      .podcast_info {
        h2 {
          @apply max-w-[15ch];
        }
      }
    }
  }
}
